<div id="chat">
  <button id="see-more" onclick="getOldMessages()">See more</button>
  <%= render partial: "message", collection: @chat_messages %>
</div>

<hr>
<textarea id="new-message" name="text"></textarea>
<button id="submit-new-message" onclick="submitMessage($('#new-message').val())">
  Submit
</button>